# Benchopt configuration for 3D tomography testing
# This file specifies testing with Walnut CT dataset

# Objective filter
objective:
  - reconstruction_objective

# Dataset filters (with parameters) - small number of projections for faster testing
dataset:
  - tomography_3d:
      num_operators: 2
      num_projections: 300
      geometry_type: conebeam
      use_dataset_sinogram: true

# Solver filters (with parameters) - single process version
solver:
  - PnP:
      denoiser: drunet
      denoiser_sigma: 0.01
      init_method: ["zeros"]
      slurm_gres, slurm_ntasks_per_node, distribute_physics, distribute_denoiser, patch_size, receptive_field_size, max_batch_size: [
        # ["gpu:1", 1, false, false, 0, 0, 0],
        ["gpu:2", 2, true, true, 96, 16, 1],
      ]


# Run parameters
max-runs: 3
n-repetitions: 1
plot: true
html: true
