name: Tests

on:
  push:
    branches:
      - main
  create:
    tags:
      - '**'
  pull_request:
    branches:
      - main

jobs:
  benchopt_release:
    uses: benchopt/template_benchmark/.github/workflows/test_benchmarks.yml@main
    with:
      benchopt_version: latest
