name: Tests

on:
  push:
    branches:
      - main
  create:
    tags:
      - '**'
  pull_request:
    branches:
      - main

jobs:
  test-benchmark:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: ['ubuntu-latest']
      fail-fast: false
    env:
      CONDA_ENV: 'test_env'
      BENCHOPT_DEBUG: 1
      BENCHOPT_CONDA_CMD: mamba

    defaults:
      run:
        shell: bash -l {0}

    steps:
    - uses: actions/checkout@v4
    
    - name: Setup Conda
      uses: conda-incubator/setup-miniconda@v3
      with:
        auto-update-conda: true
        miniforge-version: latest
        mamba-version: "*"
        use-mamba: true
        channels: conda-forge
        python-version: "3.10"
        activate-environment: ${{ env.CONDA_ENV }}

    - name: Install dependencies
      run: |
        conda info
        mamba install -yq pip
        pip install -U benchopt
        
        # Install benchmark dependencies (deepinv, torch, etc.) from pyproject.toml
        pip install -e .

    - name: Test with benchopt
      run: |
        benchopt test . --env-name bench_test_env -vl
